ansible_vault
roles/geerlingguy.git
roles/geerlingguy.docker
roles/andrewrothstein.terraform/
roles/andrewrothstein.unarchive-deps/
roles/gga_terraform/files/.terraform.lock.hcl
roles/gga_terraform/files/.terraform/
roles/gga_terraform/files/hosts
roles/gga_terraform/files/terraform.tfstate
roles/gga_terraform/files/terraform.tfstate.backup
