terraform {
  required_providers {
    openstack = {
      source = "terraform-provider-openstack/openstack"
    }
  }
}

resource "openstack_compute_instance_v2" "{{ vm_name }}" {
    name            = "{{ vm_name }}"
    image_id        = "{{ vm_image_id }}"
    flavor_name     = "{{ vm_flavor_name }}"
    key_pair        = "{{ vm_key_pair }}"
    security_groups = ["{{ vm_security_group }}"]

    network {
        name = "{{ os_network }}"
    }
}

{% if vol_name is defined and vol_size is defined %}
resource "openstack_blockstorage_volume_v2" "{{ vol_name }}" {
  name          = "{{ vol_name }}"
  volume_type   = "{{ vol_type }}"
  size          = "{{ vol_size }}"
}
resource "openstack_compute_volume_attach_v2" "vol_attach" {
  instance_id = "${openstack_compute_instance_v2.{{ vm_name }}.id}"
  volume_id  = "${openstack_blockstorage_volume_v2.{{ vol_name }}.id}"
}
{% endif %}


{% if vol_id is defined %}
resource "openstack_compute_volume_attach_v2" "vol_attach" {
  instance_id = "${openstack_compute_instance_v2.{{ vm_name }}.id}"
  volume_id  = "{{ vol_id }}"
}
{% endif %}

