# Bastion connection.
Host os_cloud
 Hostname ${os_hostname}
 User ${os_cloud_user}
 IdentityFile ${local_key_path}

# For all machines in the private zone:
# You can enter a range of IPs or a dns zone, for example:
#    *.eu-west-1.compute.amazonaws.com
Host ${os_vms_ip}
# Proxify the connection through the bastion.
 ProxyCommand ssh os_cloud -F ssh.cfg -W %h:22
 User ${os_vms_user}
 IdentityFile ${remote_key_path}

# SSH multiplexing directives
Host *
 ControlMaster   auto
 ControlPath     ~/.ansible/cp
 ControlPersist  15m
