hostname: {{ hostname }}
http_port: {{ http_port }}
proxy_ip: {{ ansible_default_ipv4.address }}

galaxy_default_admin_email: {{ galaxy_default_admin_email }}
galaxy_default_admin_user: {{ galaxy_defaut_admin_user }}
galaxy_default_admin_password: {{ galaxy_default_admin_password }}
galaxy_default_admin_key: {{ galaxy_default_admin_key }}
galaxy_config_remote_user_maildomain: {{ galaxy_config_remote_user_maildomain }}
galaxy_persist_data: {{ galaxy_persist_data }}

tripal_password: {{ tripal_password }}
