{% for specie in input_species %}
- name: {{ specie.name }}
  description:
    genus: "{{ specie.genus }}"
    species: "{{ specie.species }}"
    sex: "{{ specie.sex }}"
    strain: "{{ specie.strain }}"
    common_name: "{{ specie.common_name }}"
    origin: "{{ specie.origin }}"
  data:
    genome_path: "{{ specie.genome_path }}"
    contig_prefix: "{{ specie.contig_prefix }}"
    transcripts_path: "{{ specie.transcripts_path }}"
    proteins_path: "{{ specie.proteins_path }}"
    gff_path: "{{ specie.gff_path }}"
    interpro_path: "{{ specie.interpro_path }}"
    orthofinder_path: "{{ specie.orthofinder_path }}"
    blastp_path: "{{ specie.blastp_path }}"
    blastx_path: "{{ specie.blastx_path }}"
    genome_version: "{{ specie.genome_version }}"
    ogs_version: "{{ specie.ogs_version }}"
  services:
    blast: "{{ specie.blast }}"
    go: "{{ specie.go }}"
{% endfor %}
