terraform {
  required_providers {
    openstack = {
      source = "terraform-provider-openstack/openstack"
    }
  }
}

resource "openstack_compute_instance_v2" "{{ vm_name }}" {
    name            = "{{ vm_name }}"
    image_id        = "{{ vm_image_id }}"
    flavor_name     = "{{ vm_flavor_name }}"
    key_pair        = "{{ vm_key_pair }}"
    security_groups = ["{{ vm_security_group }}"]

    network {
        name = var.tenant_network
    }
}
